<html>

<head>
    <title>title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <table class="table">
            <caption><h1>${title}</h1></caption>
        <thead>
            <tr>
                <th scope="col">Register</th>
                <th scope="col">Content</th>
            </tr>
        </thead>
        <tbody>
            <#list registers as register>
                <tr>
                    <td>${register.name}</td>
                    <td>${register.value}</td>
                </tr>
            </#list>
        </tbody>
    </table>
</body>

</html>